@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.normal {
    --main-color: rgb(253, 253, 253);
    --main-color-hover: rgb(227, 227, 227);
    --secoundary-color: #2a63ff;
    --secoundary-color-hover: #0043ff;
    --tertiary-color: #1af2dd;
    --tertiary-color-hover: #65fff0;
    --main-text-color: rgb(78, 78, 78);
    --secoundary-text-color: rgb(255, 255, 255);
}

.dark {
    --main-color: rgb(0, 0, 0);
    --main-color-hover: rgb(21, 21, 21);
    --secoundary-color: #2a63ff;
    --secoundary-color-hover: #0043ff;
    --tertiary-color: #1af2dd;
    --tertiary-color-hover: #65fff0;
    --main-text-color: rgb(255, 255, 255);
    --secoundary-text-color: rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

body .back {
    position: fixed;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 15vh;
    object-fit: cover;
}
body .back img{
    position: fixed;
    top: 0;
    z-index: 0;
    width: 101%;
    height: 15vh;
    object-fit: cover;

}

body .content {
    position: relative;
    z-index: 1;
    max-width: 27rem;
    height: 100%;
    width: 100%;
}

body .content .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

body .content .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    width: 100%;
}

body .content .head .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body .content .head .text .title {
    font-size: 12pt;
    font-weight: 400;
    color: var(--secoundary-text-color);
}

body .content .head .text .name {
    font-size: 20pt;
    font-weight: 600;
    color: var(--main-text-color);
}

body .content .head .text .title {
    font-size: 10pt;
    font-weight: 400;
    color: var(--main-text-color);
}

body .content .head .img img {
    width: 10rem;
    border-radius: 100%;
}

body .content .links a {
    min-width: 15rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin: .5rem;
    border-radius: .5rem;
    background-color: var(--secoundary-color);
    color: var(--secoundary-text-color);
}

body .content .links a:hover>.left {
    transition: .3s;
}

body .content .links a:hover {
    background-color: var(--secoundary-color-hover);
}

body .content .links a .left {
    min-width: 15rem;
    display: flex;
    align-items: center;
    color: var(--secoundary-text-color);
}

body .content .links a i {
    font-size: 25pt;
    margin-right: .5rem;
}

body .content .links a .title {
    font-size: 13pt;
    font-weight: 500;
}

body .footer {
    padding: 1rem;
}

body .footer .text {
    font-size: 10pt;
    font-weight: 400;
    color: var(--main-text-color);
}
